
body {
      font-family: Arial, sans-serif;
      background-color: #f0ebe3;
      padding: 20px;
    }
    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      max-width: 400px;
      margin: auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    input, select, button {
      width: 90%;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 16px;
    }
    button {
      background-color: #714c39;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #3d2a20;
    }
    